body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
}

header {
    display: flex;
    justify-content: space-between;
}

ul.link-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hero.section {
    display: flex;
}